@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

:root {
    --col-red: #F61515;
    --col-light: #F7F2FB;
    --col-green: #69BB63;
    --col-bleu: #4394FF;
}

.navbar {
    background: var(--col-red);
}
h1
{
    font-family: 'Luckiest Guy', cursive;
    font-size: 30px;
    color: black;

}

.py-5
{
    padding-top: 5rem;
    padding-left: 2rem;
}

.bg-red {
    background: var(--col-red);
    color: var(--col-light);
}

.bg-green {
    background: var(--col-green);
    color: var(--col-light);

}

.btn-up img {
    width: 5rem;
    height: 6rem;
    margin-right: 15PX;
}

.partage {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.footer {
    padding: 2rem;
    background: var(--col-bleu);
}

.map {
    background: var(--col-green);
    padding-top: 2rem;
}

.formulaire {
    background: var(--col-light);
    padding-top: 2rem;
}

.newsletter {
    background: var(--col-red);
    padding-top: 2rem;

}

.button {
    padding-top: 2rem;
}