@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

:root {
    --col-red: #F61515;
    --col-light: #F7F2FB;
    --col-green: #69BB63;
    --col-bleu: #4394FF;
}

.navbar {
    background: var(--col-red);
    font-family: 'Luckiest Guy', cursive;
}

.navbar img {
    width: 70px;
}

.navbar-brand {
    padding-left: 2rem;
}

h1
{
    padding-top: 2rem;
    font-family: 'Luckiest Guy', cursive;
    font-size: 35px;
    color: black;

}

.bg-green
{
    background-color: var(--col-green);
}

.bg-light
{
    background-color: var(--col-light);
}

.py-5
{
    padding-top: 5rem;
    padding-left: 2rem;
}

.bg-red {
    background: var(--col-red);
    color: var(--col-light);
}

.bg-green {
    background: var(--col-green);
    color: var(--col-light);

}

.btn-up img {
    width: 5rem;
    height: 6rem;
    margin-right: 15PX;
}

.partage {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background: var(--col-green);
}

.footer {
    padding: 2rem;
    background: var(--col-bleu);
}

.map {
    background: var(--col-green);
    padding-top: 2rem;
}

.formulaire {
    background: var(--col-light);
    padding-top: 1rem;
}

.newsletter {
    background: var(--col-red);
    padding-top: 2rem;

}

.button {
    padding-top: 2rem;
}

.p1{
    height: 100px;
}

.volet {
    position: absolute;
    top: 0;
    left: 0;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0 87%);
    background:#f6151598;
    width: 100%;
    height: 100%;  
    transform: translateX(0%);
    transform: translateY(100%);
    transition: .3s;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}
.chemin {
    width: 500px;
    height: 350px;
    border: 10px solid #F61515;
    overflow: hidden;
    position: relative;
}

.chemin img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .4s;
}

.chemin:hover img {
    transform: rotate(0deg) scale(1.05);
}

.chemin:hover .volet {
    transform: translateX(0);
    transform: translateY(0);
}